.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.top-row {
    background-color: transparent;
    display: flex;
    align-items: center;
}

@media (min-width: 641px) {
    article {
        padding-left: 2rem !important;
        padding-right: 2.5rem !important;
    }
}